<% include partials/header %>

<h3>Look at all the doggos</h3>

<div>
    <% dogs.forEach(function(dog) { %>
        <p><%= dog.name %></p>
        <img src="<%= dog.image %>"/>
        <p><%= dog.breed %></p>
        <p><%= dog.age %></p>
        <p><%= dog.description %></p>
    <% }); %>
</div>

<% include partials/footer %>
